<div class="row">
  <%= form_for :session, :html => {:id=>'session' },:url => session_path do |form| %>
            <div class="text-field">
        
                <%= form.label :email %>
                <%= form.text_field :email, :type => 'email', class:'form-control' %>
              
            </div> 
            <br> 
            <br> 
            <div class="password-field">
                <%= form.label :password %>
                <%= form.password_field :password,class:'form-control' %>
          
            </div>
            <br> 
            <br> 
            <div class="submit-field ">
                <input type="button" name="btn-sign-in" value="Sign in" id="btn-sign-in">
            </div>
            <br> 
            <br> 
            <div class="other-links">
            
                <% if Clearance.configuration.allow_sign_up? %>
                  <%= link_to t('.sign_up'), sign_up_path %>
                <% end %>
              
                <%= link_to t('.forgot_password'), new_password_path %>
              
            </div>
        
    
  <% end %>
</div>