<%= form_for :beings,:html => { :multipart => true , :id=>'beings' }, url: beings_path do |f| %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </p>
   
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :link_facebook %><br>
    <%= f.text_field :link_facebook %>
  </p>
  
  <p>
    <%= f.label :link_twitter %><br>
    <%= f.text_field :link_twitter %>
  </p>
  
  <p>
    <%= f.label :link_flickr %><br>
    <%= f.text_field :link_flickr %>
  </p>

  <p>
    <%= f.file_field :photo %>
  </p>
  
  <p>
  <!-- 
  <%= f.submit %> 
   -->  
   <input type="button" name="btn-save" value="Create Being" id="btn-being-save"> 
  </p>
 
 <% end %> 